* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

body {
  max-width: 100vw;
  overflow-x: hidden !important;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
  background-color: #100b16 !important;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #4fc3f7;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 1rem;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: #1b1b1bbb;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #f5f5f5;
}

/* Navbar */

.nav_link {
  color: white;
  margin-right: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background: rgba(144, 202, 249, 0.2);
  clip-path: polygon(0 0, 100% 2%, 90% 100%, 0% 100%);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;

  border-bottom-right-radius: 4.5px;
  border-top-right-radius: 10%;
}

.nav_link:hover {
  background: rgba(144, 202, 249, 0.3);
}

@media (max-width: 600px) {
  .nav_link {
    margin-right: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
  }

  .nav_link:last-child {
    margin-right: 0;
  }
}

.blob {
  background: #089981;
  border-radius: 50%;
  margin: 10px;
  height: 15px;
  width: 15px;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(8, 153, 129, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.blob_closed {
  background: #f23645;
  border-radius: 50%;
  margin: 10px;
  height: 15px;
  width: 15px;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse_closed 2s infinite;
}

@keyframes pulse_closed {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(242, 54, 69, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
